#access_box
{
	
	text-align: left;
	font-weight: bold;
	margin-left: 200px;
	

}

#details
{
	
	display: inline-table;
	color: red;
}




body
{
	background-image: url('../img/background_01.jpg');
	background-repeat: no-repeat;
	min-width:300px;
	min-height:185px;

}

.accessbox
{
    font-size:16px;
    font-weight:bold;
    
}

.accessbox p
{
    float:left;   
}

.container
{
    min-width:10px;
}

.container p
{
    font-size:16px;
    font-weight: bold;
    text-align: left;
}