body
{
	background-image: url('../img/background_01.jpg');
	background-repeat: no-repeat;

}







.nav
{
	padding-bottom: 40px;
}

.nav ul
{
	list-style-type: none;
	font-weight: bold;
}

.nav ul li
{
	
}

.tool_menu
{

}

.tool_menu ul
{

}

.tool_menu ul li
{

}

.container
{
	box-shadow: 0 0 10px #888888;
	border: 10px solid #F2F2F2;
	background: #F2F2F2;
	width:100%;
	
}

.formTitle
{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
	color: #1C1C1C;
	font-size: 32px;
	padding-bottom:20px;

}


#logoFas
{
	background-image: url('../img/logo_01.png');
	background-repeat:no-repeat;
	background-size: 100%;
	width: 154px;
	height: 80px;
	
}






.footer
{
	
	box-shadow: 0 -5px 5px #888888;
	border: 10px solid #F2F2F2;
	background: #F2F2F2;
	display: block;
	bottom:0;
	margin:auto;
	position: fixed;
    font-size: 14px;
	font-weight: bold;
    width: 100%;
	
	
}

















/* ------------BUTTONS BEGIN ---------------*/

/*  Buttons: 3 types
	btn = Normal button   (Gray to Blue)
	btnR = Red shaded button for cancel/exit/delete commands
	btnG = Green shaded button for Accept/Save/Ok commands
*/

.btn {
  background: #dedede;
  background-image: -webkit-linear-gradient(top, #dedede, #a1a1a1);
  background-image: -moz-linear-gradient(top, #dedede, #a1a1a1);
  background-image: -ms-linear-gradient(top, #dedede, #a1a1a1);
  background-image: -o-linear-gradient(top, #dedede, #a1a1a1);
  background-image: linear-gradient(to bottom, #dedede, #a1a1a1);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #949494 1px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btnR {
  background: #db9090;
  background-image: -webkit-linear-gradient(top, #db9090, #ab2828);
  background-image: -moz-linear-gradient(top, #db9090, #ab2828);
  background-image: -ms-linear-gradient(top, #db9090, #ab2828);
  background-image: -o-linear-gradient(top, #db9090, #ab2828);
  background-image: linear-gradient(to bottom, #db9090, #ab2828);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #949494 1px;
  text-decoration: none;
}

.btnR:hover {
  background: #c40000;
  background-image: -webkit-linear-gradient(top, #c40000, #ff5959);
  background-image: -moz-linear-gradient(top, #c40000, #ff5959);
  background-image: -ms-linear-gradient(top, #c40000, #ff5959);
  background-image: -o-linear-gradient(top, #c40000, #ff5959);
  background-image: linear-gradient(to bottom, #c40000, #ff5959);
  text-decoration: none;
}

.btnG {
  background: #9bd98f;
  background-image: -webkit-linear-gradient(top, #9bd98f, #4b994b);
  background-image: -moz-linear-gradient(top, #9bd98f, #4b994b);
  background-image: -ms-linear-gradient(top, #9bd98f, #4b994b);
  background-image: -o-linear-gradient(top, #9bd98f, #4b994b);
  background-image: linear-gradient(to bottom, #9bd98f, #4b994b);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #949494 1px;
  text-decoration: none;
}

.btnG:hover {
  background: #67c261;
  background-image: -webkit-linear-gradient(top, #67c261, #99ff94);
  background-image: -moz-linear-gradient(top, #67c261, #99ff94);
  background-image: -ms-linear-gradient(top, #67c261, #99ff94);
  background-image: -o-linear-gradient(top, #67c261, #99ff94);
  background-image: linear-gradient(to bottom, #67c261, #99ff94);
  text-decoration: none;
}


/* ----  BUTTONS END ----------*/


























/* --------------------- DEMO --------------------------*/


.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-10, .col-xs-12, .col-xs-9, .col-xs-3
{
	/*border: 1px solid black;*/

	font-weight: normal;	
	height: 100%;



}


.row
{
	font-weight: 900;
	overflow: hidden;
}

.row p
{
	border: 1px solid black;
	text-align: center;
}

.sele_list, .tool_menu, .tool_list, .search_field, .sele_list_long
{
	border: 1px solid black;
	text-align: center;
}

 .text_field, .long_list, .search_field, .date_picker
 {
	border: 1px solid black;
	text-align: center;
}


.comment_1
{
	font-size: 14px;
	font-weight: 700;
	border: 1px solid red;
	text-align: center;
	background: #A9F5BC;
}

.comment_2
{
	font-size: 14px;
	font-weight: 700;
	border: 1px solid red;
	text-align: center;
	background: #A9BCF5;

}



/* ------ DEMO END -------------*/


@media screen and (max-width: 650) 
{
   
}




